<!DOCTYPE html>
<html>

<head>
   
   <%= link_to 'Home', root_path %>

	<h1>About the Course</h1>

</head>

<body>
   
   <p><b>The Complete Ruby on Rails Developer Course</b> provides a thorough introduction to Web Applications Development using the wildly popular Ruby on Rails framework. With almost 30 hours of engaging video lectures and text follow-up lectures with directions, references and all the code used in the videos, this course is designed to take students with no programming/web development experience to accomplished Ruby on Rails developers while being just as useful for students who have experience coding in Rails and want to take their skills to the next level or students who are making the the switch to Ruby on Rails from other frameworks.</p>
   </n></n>
   <p>Why Ruby on Rails? Since its introduction, Ruby on Rails has rapidly become one of the most powerful and popular tools for building web applications for both startups and existing software houses. Some of the top sites using Ruby on Rails are Basecamp, Twitter, Shopify, Github, LivingSocial, Groupon, Hulu, Airbnb, Yellow Pages and much more. Ruby on Rails developers command some of the highest salaries in the development world and are in high demand.</p>
   </n></n>
   <p>This course takes a very structured approach of teaching Rails starting with Ruby - the programming language behind Rails. Everything from "Hello World" to Object Oriented Programming is covered. Students acquire skills rapidly utilizing homework assignments, quizzes, coding exercises and free web based resources alongside the video lectures. The text lectures also provide reference material after each video, it's like having multiple books in addition to the videos to guide students through the course.</p>
   </n></n>
   
</body>
   
   