
<!DOCTYPE html>
<html>

<head>
   
   <%= link_to 'Alpha Blog', articles_path %> | <%= link_to 'About', about_path %>

	<h1>Ruby on Rails course</h1>

</head>
<body>

	<h3>Welcome to the course dashboard!</h3>
	<%= link_to image_tag('rubycourse.jpg'), 'about' %>
	<p>Welcome to my first html page created as a part of the ruby on rails course.</p>
	
	</n></n>
	
	<ul>
		<li>Section 1 : Introduction and Setup</li>
		<li>Section 2 : The ruby programming language</li>
		<li>Section 3 : Ruby on Rails</li>
		<li>Section 4 : Projects</li>
		<li>Section 5 : Bonus project</li>
	</ul>

</body>
</html>