@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
   float: left;
   font-size: 1.7em;
   text-transform: uppercase;
   letter-spacing: -1px;
   font-weight: bold;
}

.center {
   text-align: center;
}

.jumbotron h1 {
   font-weight: bold;
   font-size: 30px;
}

footer {
   margin-top: 45px;
   padding-top: 5px;
   border-top: 1px solid #eaeaea;
}

footer small {
   float: left;
}

footer ul {
   float: right;
   list-style: none;
}

footer ul li {
   float: right;
   margin-left: 20px;
}